extends ../../layouts/default.pug
block content
    .container.my-3 
        .box-head 
            h2.inner-title Chủ đề bài hát
        .grid-container
            each topic in topics
                .card
                    img(src=topic.avatar)
                    .card-body
                        h5.card-title #{topic.title}
                        p.card-text #{topic.description}
                        a(href=`/songs/list/${topic.slug}` class="btn btn-primary") Xem chi tiết
